
<h4>Landmarks:</h4>
<ul>
  <%Landmark.all.each do |landmark|%>
  <p><li>Name : <a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a> </li>
    <li> Year Completed : <%= landmark.year_completed %> </li>
      <li> Figure : <%= landmark.name %>
    </p> <% end%> </ul>
