
<h1>Create a new Landmark</h1>
<form action="/landmarks" method="POST">
  <label>Landmarks</label>
  <br></br>

<p>Landmark Name: <input type="text" id="landmark_name" name="landmark[name]"></p>
  <br></br>
  <p>Landmark Year Completed : <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
    <br></br>

    <input type="submit" value="Create New Landmark" name="Create New Landmark">
  </form>
