
<h1>Create a new Figure</h1>
<form action="/figures" method="POST">
  <label>Figures</label>
  <br></br>
<p>Figure Name: <input type="text" name="figure[name]" id="figure_name"></p>
  <br></br>

    <input type="submit" value="Create" name="Create">
  </form>
